/* Contenedores */
.contenedor {
    margin-top: 10px;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
   
}

.conteiner {
    margin-bottom:10px;
    transition: all 0.7s;
    p {
        font-size: 19px;
        
    }
    &:hover {
    background-color: $color_negro;
    color: $color_blanco;
}
}

.p2 {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}

