/* imágen de fondo del index */
.imagen {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.imagen img {
    width: 100%;
    height: auto;
}
/* imágenes del carrusel */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 225px;
    height: 225px;
}
   


