/* imágen de fondo del index */
.imagen {
    display: flex;
    justify-content: center;
    margin-top: 10px;
        img {
            display: flex;
            width: 1300px;
            height: 500px;
        }
}
/* imágenes del carrusel */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 225px;
    height: 225px;
}
   


