/* imágen de fondo del index */
.imagen {
    display: flex;
    justify-content: center;
    margin-top: 10px;
        img {
            display: flex;
            width: 1300px;
            height: 500px;
        }
}
/* imágenes del carrusel */
.flex div img {
    align-items: center;
    width: 150px;
    height: 150px;
    margin-left: 235px;
    margin-right:70px;
}