@charset "UTF-8";
/* color de las flechas de carrusel */
.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: black;
}

/* Todos los botones, menos el input file*/
button {
  background-color: black;
  color: white;
  transition: all 0.7s;
  padding: 12px;
  font-size: 20px;
}
button:hover {
  background-color: white;
  color: black;
}

.card-body a {
  display: flex;
  text-decoration: none;
}

/* boton para input file */
input::-webkit-file-upload-button {
  cursor: pointer;
  padding: 12px;
  font-size: 20px;
}
input::file-selector-button {
  cursor: pointer;
  padding: 12px;
  font-size: 20px;
}

input::-webkit-file-upload-button {
  background-color: black;
  color: white;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

input::file-selector-button {
  background-color: black;
  color: white;
  transition: all 0.7s;
}
input:hover::-webkit-file-upload-button {
  background-color: white;
  color: black;
}
input:hover::file-selector-button {
  background-color: white;
  color: black;
}

/* Contenedores */
.contenedor {
  margin-top: 10px;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
}

.conteiner {
  margin-bottom: 10px;
  transition: all 0.7s;
}
.conteiner p {
  font-size: 19px;
}
.conteiner:hover {
  background-color: black;
  color: white;
}

.p2 {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
}

/* título: Reconocimientos */
.headerDos {
  background-color: black;
  color: white;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* titulo Estudio Cabrera Amado y Asociados */
.titulo {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
}
.titulo h1 {
  font-size: 65px;
}

/* titlos Reconicmientos y Ubicanos */
h2 {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  padding: 5px;
  border-radius: 5px;
}

/* imágen de fondo del index */
.imagen {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.imagen img {
  width: 100%;
  height: auto;
}

/* imágenes del carrusel */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 225px;
  height: 225px;
}

.barra li {
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: bolder;
  font-size: 20px;
}
.barra li a {
  display: block;
  position: relative;
  padding: 0.2em 0;
}
.barra li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: black;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
.barra li a:hover::after, .barra li a a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

/* barra para buscar del index */
.buscador {
  display: flex;
  justify-content: center;
  transform: translate(0px, -70px);
}
.buscador input {
  display: flex;
  height: 90px;
  width: 1000px;
  box-shadow: 0 0 18px #848484;
  border: 0;
  background-image: url("./images/search_icon.png");
  background-position: top;
  background-position: right;
  background-repeat: no-repeat;
  outline: none;
  background-size: 70px;
  font-size: 30px;
}
.buscador input::-moz-placeholder {
  font-size: 30px;
}
.buscador input:-ms-input-placeholder {
  font-size: 30px;
}
.buscador input::placeholder {
  font-size: 30px;
}
.buscador button {
  font-weight: bolder;
  display: flex;
  margin-left: 30px;
  margin-top: 15px;
  background-color: black;
  color: white;
  padding: 10px;
  height: 60px;
  width: 110px;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.buscador button:hover {
  background-color: white;
  color: black;
}

* {
  font-family: "Raleway", sans-serif;
}

/* clase fieldset para todos los recuadros */
.fieldset {
  border: 1px solid;
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
}

/* Footer */
.footer {
  margin-top: 100px;
  text-align: center;
  font-size: 17px;
}

/* cards de bootstrap */
.card p {
  text-align: justify;
}/*# sourceMappingURL=styles.css.map */