* {
    font-family: 'Raleway', sans-serif;
}
.grid {
    display: grid;
    grid-template-areas: 
    "header section1"
    "nav nav"
    "section2 aside"
    "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    height: 100vh;
}

.cabecera {
    display: flex;
    grid-area: header;
    font-size: 50px;
}
 .imagen {
    display: flex;
    grid-area: section1;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
}
.navegacion {
    grid-area: nav;
    
}
.navegacion ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;  
}

.navegacion ul li {
    margin-right: 20px;
    font-weight: bolder;

}
a:link, a:visited,  a:hover, a:active
{
    color: #000000;
    text-decoration: none;
}
.texto {
    grid-area: section2;
    text-align: justify;
}
aside {
    grid-area: aside;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

footer {
    margin-top: 60px;
    grid-area: footer;
    display: flex;
    text-align: center;
    justify-content: center;
}
@media  screen and  (max-width:480px)
{
    .grid {
        grid-template-areas: 
        "header"
        "section1"
        "nav"
        "section2"
        "aside"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        
    }
    .cabecera {
        grid-area: header;
    }
    .imagen {
        grid-area: section1;

    }
    .navegacion {
        grid-area: nav;
    }
    .texto {
        grid-area: section2;
    }
    aside {
        grid-area: aside;
    }
    footer {
        grid-area: footer;
    }
    }