* {
    font-family: 'Raleway', sans-serif;
}

.titulo h1 {
    display: flex;
    font-size: 75px;
}


.barra li {   
    font-weight: bolder;
}

a:link, a:visited,  a:hover, a:active
{
    color: #000000;
    text-decoration: none;
}

.contenedor {
    margin-top: 50px;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

.footer {
    margin-top: 100px;
    text-align: center;
}

.imagen {
    display: flex;
    justify-content: center;
  
}
.imagen img {
    display: flex;
    width: 1300px;
    height: 500px;

}


